/* input resets */
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

button,
input {
    line-height: normal;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type="search"] {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="text"],
textarea {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
}

select {
    -webkit-border-radius: 0;
    border-radius: 0;
}

/* module styles */
select,
textarea,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    height: 40px;
    width: 100%;
    background: #fff;
    border: 1px solid #a2a4a3;
    outline: none;
    padding: 4px 2%;
    font-size: 18px;
    line-height: 40px;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea {
    line-height: 22px;
    padding: 8px 2%;
    height: 200px;
    resize: none;
}

.wrapper {
    max-width: 600px;
    margin: 30px auto;
}

.placeholder-wrapper {
    position: relative;
    display: block;
    font-family: Helvetica, Arial, sans-serif;
}

.placeholder-wrapper .placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    padding: 0 2%;
    line-height: 40px;
    font-size: 18px;
    overflow: hidden;
    color: #a2a4a3;
    cursor: text;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.placeholder-wrapper textarea ~ .placeholder {
    padding: 8px 2%;
    line-height: 22px;
    white-space: normal;
}

.placeholder-wrapper .placeholder.placeholder-show {
    display: block;
}
